body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #6a11cb;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff; /* Text color for main content */
}

nav {
    position: fixed;
    width: 100%;
    background: rgba(169, 169, 169, 0.7); /* Gray tint for the navigation menu */
    padding: 10px;
    text-align: center;
    z-index: 1000; /* Ensures the menu is on top of other elements */
    border-radius: 0 0 15px 15px; /* Rounded corners at the bottom */
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
    border-radius: 5px; /* Rounded corners */
    padding: 8px 15px;
    background-color: #333; /* Background color for buttons */
}

nav a:hover {
    color: #ddd; /* Change text color on hover */
}

.container {
    padding: 20px;
    margin-top: 70px; /* Adjust margin to accommodate the fixed navigation menu */
}

.form-label {
    color: dimgray;
    font-weight: bold;
}

.form-label-error {
    color: red;
    font-weight: bold;
}